export RPC_URL=https://*****/*************8b549a8a377a52d0f
export CHAIN_ID=11155111
export PRIVATE_KEY=****************
export VERIFIER_ADDRESS=0xYourVerifierAddress

export PARAMS_JSON='{"L":2,"H":[{"x":1,"y":2},{"x":3,"y":4},{"x":5,"y":6}]}'
export PK_JSON='{"w":{"x":[1,2],"y":[3,4]}}'